// --- Login SCSS Module ---

// Import variables
@import "../../lib/variables";

// Main container
.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

// Main content wrapper
.wrapper {
    padding: 32px;

    background-color: $c_bg;
    border-radius: 16px;

    // Form
    form fieldset {
        display: flex;
        flex-direction: column;            
        border: none;

        // Bottom buttons
        div {
            margin-top: 32px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            // Sign up link
            a {
                color: $c_fg;
                text-decoration: none;

                transition: $trans;

                &:hover {
                    color: $c_accent;
                    text-decoration: underline;
                }
            }
        }
    }
}

// Cardify banner
.logoWrapper {
    padding: 8px 16px 32px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;

    // Logo
    img {
        max-height: 15vh;
    }

    // Text
    p {
        font-size: $f_title;
        font-weight: 700;
    }
}

// Form labels
.label {
    padding: 16px 0 8px 0;
}

// Form inputs
.input {
    padding: 8px 16px;

    background-color: $c_layer;
    border: 3px solid $c_layer;
    border-radius: 4px;
    outline: none;

    transition: $trans;

    &:focus {
        border-color: $c_accent;
    }
}

// Submit button
.submit {
    padding: 16px 32px;

    background-color: $c_layer;
    border: none;
    border-radius: 6px;
    outline: none;
    
    cursor: pointer;

    transition: $trans;

    &:hover {
        background-color: $c_accent;
    }
}

// Locked submit button
.submitLoading {
    cursor: not-allowed;
}

// Invalid credentials banner
.invalid {
    padding: 16px 48px;
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);

    background-color: $c_failure;
    color: $c_bg;
    border-radius: 8px;

    cursor: pointer;
}