// --- Global SCSS File ---

// Import variables
@import "../lib/variables";

// Import 'Open Sans' font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Global CSS
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    font-size: $f_body;
}

// Background color
body {
    background-color: $c_surface;
}

// Hidden elements
.hidden {
    display: none;
}